/* fonts */
@font-face {
    font-family: font1;
    src: url(fonts/fonnts.com-moranga-mediumit.otf);
}

@font-face {
    font-family: font2;
    src: url(fonts/Macondo-Regular.ttf);
}

@font-face {
    font-family: font3;
    src: url(fonts/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: font4;
    src: url(fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
    font-family: font5;
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    min-height: 100vh;
    width: 100%;
}

/* Background video */

.background-video {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

/* Navbar code */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}

nav h1 {
    font-size: small;
    font-family: font1;
    color: white;
    cursor: pointer;
}

nav svg {
    height: 10vw;
    cursor: pointer;
    border-radius: 50%;
}

nav svg:hover {
    scale: 0.8;
}

nav button {
    color: white;
    font-size: 10px;
    padding: 5px 8px;
    border: none;
    border-radius: 1vmax;
    cursor: pointer;
    background: linear-gradient(black, white);
}

nav button:hover {
    scale: 0.9;
}

/* nav responsive */

@media(min-width:768px) {

    nav {
        width: 100%;
        padding-left: 2vmax;
        padding-right: 2vmax;
    }

    nav h1 {
        font-size: x-large;
    }

    nav svg {
        height: 5.1vw;
    }

    nav button {
        font-size: 1rem;
        padding: 1.5vh 3vh;
    }
}

/* page1 code */

.page1 {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 img {
    height: 50%;
    width: 50%;
    margin-top: 30px;
}

/* page2 code */

.page2 {
    height: 5%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2-container {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2aaf7c;
    z-index: 555;
}

.scroll-div {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 999;
}

.scroll-div::-webkit-scrollbar {
    display: none;
}

.scroll-div h1 {
    background-color: black;
    color: white;
    font-size: 2vh;
    font-family: font1;
    font-weight: 100;
    animation-name: scroll-div-animation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll-div-animation {
    0% {
        transform: translatex(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* page2 responsive */

@media(min-width:768px) {
    .page2 {
        height: 50px;
        margin-top: 20px;
    }

    .page2-container {
        height: 60px;
    }

    .scroll-div h1 {
        font-size: 4vh;
    }
}

/* page3 code */

.page3 {
    height: 100%;
    width: 100%;
    color: white;
    position: relative;
    padding: 10px;
}

.about-me {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: font1;
}

.page3-heading {
    font-size: 3vmax;
    padding-bottom: 1vmax;
    color: black;
}

.about-container {
    height: 100%;
    width: 100%;
}

.about-container h1 {
    padding-bottom: 3vmax;
    color: #2aaf7c;
}

.about-p1 {
    font-size: 1.3vmax;
    margin-bottom: 1vmax;
}

.about-p1 strong {
    color: #38CDFA;
}

.about-p2 {
    font-size: 1.3vmax;
    margin-bottom: 1vmax;
}

.about-p2 .mern {
    color: #FE7D84;
}

.about-skill {
    color: #38CDFA;
}

.about-p3 {
    font-size: 1.3vmax;
    margin-bottom: 1vmax;
}

.about-p4 {
    font-size: 1.3vmax;
    margin-bottom: 1vmax;
}

.icons-container {
    display: none;
}

/* page3 responsive */

@media(min-width:768px) {

    .page3 {
        height: 100%;
        padding-top: 5vmax;
        padding: 20px;
    }

    .about-container {
        height: 70%;
        width: 60%;
    }

    .icons-container {
        display: block;
    }

    .icons-container {
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 22vmax;
    }

    .icons-cont-1 {
        rotate: -45deg;
    }

    .icons-cont-2 {
        rotate: 45deg;
    }
}

/* page4 code */

.page4 {
    min-height: 100%;
    width: 100%;
    color: white;
    padding: 20px;
}

.page4-top {
    height: 13vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page4-top h2 {
    font-size: 3vmax;
    font-family: font1;
    color: black;
}

.page4-arrow img {
    height: 80px;
}

.page4-bottom {
    min-height: 100%;
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page4-left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page4-left h1 {
    margin: 2vh;
    font-family: font1;
}

.page4-left h2 {
    margin: 2vh;
    font-family: font2;
    font-size: 6vh;
}

.page4-left p {
    line-height: 1.5;
    font-family: font2;
    font-size: 3vh;
    margin-top: 5vmax;
}

.page4-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page4-right h1 {
    margin: 2vh;
    font-family: font1;
}

.page4-right h2 {
    margin: 2vh;
    font-family: font2;
    font-size: 6vh;
}

.page4-right p {
    line-height: 1.5;
    font-family: font2;
    font-size: 3vh;
    margin-top: 7vmax;
}

/* page4 reponsive */

@media(min-width: 768px) {

    .page4 {
        min-height: 100vh;
        width: 100%;
    }

    .page4-top {
        height: 20vh;
        width: 100%;
        background-color: white;
    }

    .page4-top h2 {
        font-size: 4vmax;
    }

    .page4-arrow img {
        height: 100px;
    }

    .page4-bottom {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .page4-left {
        height: 70%;
        width: 45%;
    }

    .page4-left h1 {
        margin: 2vh;
    }

    .page4-left h2 {
        margin: 2vh;
        font-size: 6vh;
    }

    .page4-left p {
        line-height: 1.5;
        font-size: 3vh;
        margin-top: 5vmax;
    }

    .page4-right {
        height: 70%;
        width: 45%;
    }

    .page4-right h1 {
        margin: 2vh;
    }

    .page4-right h2 {
        margin: 2vh;
        font-size: 6vh;
    }

    .page4-right p {
        line-height: 1.5;
        font-size: 3vh;
        margin-top: 7vmax;
    }
}

/* page5 code */

.page5 {
    min-height: 100%;
    width: 100%;
    position: relative;
}

.page5-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box {
    height: 25vmax;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0.5;
    color: white;
    margin: 10px;
    border-radius: 40px;
    padding: 10px;
}

.box.active {
    flex: 5;
}

/* page5 reponsive */

@media(min-width:768px) {

    .page5 {
        min-height: 100%;
    }

    .box {
        height: 75vh;
    }
}

/* Page6 code */

.page6 {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
    color: white;
    padding: 10px;
}

.project1-div {
    height: 50%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.project1-div h1 {
    font-family: font5;
    margin-bottom: 20px;
}

.page6 img {
    height: 120px;
    border-radius: 10px;
}

.page6 img:hover{
    scale: 1.1;
}

.page6 a {
    display: inline-block;
    padding: 8px 14px;
    background: #2aaf7c;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-family: font1;
}

.project1-div p {
    padding: 20px;
    font-family: font4;
    font-weight: 500;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.project-points h2 {
    width: 100%;
    font-size: sm;
    font-family: font2;
    padding: 5px;
}

.project2-div {
    height: 50%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.project2-div h1 {
    font-family: font5;
    margin-bottom: 20px;
}

.project2-div p {
    padding: 20px;
    font-family: font4;
    font-weight: 500;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

}

/* page6 responsive */

@media (min-width:768px) {

    .page6 {
        min-height: 100vh;
        width: 100%;
    }

    .page6 img {
        height: 180px;
        border-radius: 10px;
    }
}

/* Page7 code */

.page7 {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
}

.page7 h1 {
    color: white;
    font-family: font1;
    font-size: 5vmax;
}

.page7 h1 span {
    color: #38cdfa;
}

.page7 h3 {
    color: white;
    font-size: 2vmax;
    font-family: font2;
}

.img-box {
    height: 100%;
    width: 100%;
    position: relative;
}

.img-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}

.img-div img {
    height: 5vmax;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.img-div img:hover{
    scale: 0.9;
}

.left-img-div {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

}

.right-img-div {
    height: 40%;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

/* page7 responsive */

@media (min-width:768px) {
    .page7 {
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 30px;
    }

    .page7 h1 {
        font-size: 5vmax;
    }

    .page7 h3 {
        font-size: 2vmax;
    }

    .img-box {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .img-div {
        height: 100%;
        width: 100%;
        gap: 60px;
        padding: 40px;
    }

    .img-div img {
        height: 7vmax;
        padding: 20px;
    }

    .left-img-div {
        height: 40%;
        width: 100%;
        gap: 50px;

    }

    .right-img-div {
        height: 40%;
        width: 100%;
        gap: 50px;
  
    }
}

/* page8 */

.page8{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page8 img{
    height: 30vmax;
    border: 4px solid black;
}   

.page8 h1{
    margin-top: 20px;
    font-size: large;
    font-family: font1;
    background: linear-gradient(90deg, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/* page8 responsive */
@media (min-width:768px){
    .page8 {
        height: 100vh;
    }
    .page8 h1{
        font-size: 50px;
    }
}

/* page9 code */

.page9{
    min-height: 100%;
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page9 img{
    height: 60px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.elem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-top: 2px solid white;
    padding: 5px;
}

#elem-last{
    border-bottom: 2px solid white;
}

.page9 a{
    text-decoration: none;
    color: white;
    font-family: font4;    
}
